{% extends "main.html" %}
{% block content %}

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">info@example.com</a>
        <i class="bi bi-phone-fill phone-icon"></i> +1 5589 55488 55
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header">

    <h4 style="text-align: right" ><a href="/"><strong>На главную страницу</strong></a></h4>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="main_old.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

  </header><!-- End Header -->

  <main id="main">

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">

          <div class="section-title">
            <h2>Недвижимость</h2>
            <p>Представляем наиболее актуальную информацию о недвижимости в городе Нови Сад и его окрестностях. Мы готовы помочь вам с подбором вариантов, устроить он-лайн просмотр выбранного варианта, а также помочь со всеми юридическими тонкостями сделки.</p>
          </div>
          <div>

          </div>
          <div class="row">
            {% for d in data %}
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" >
                <div class="icon-box">
                  <div>
                    <p><a href="/{{d.href}}"><img src="{{ d.images.0.adDetails.700x350_fit_0_webp }}"
                      width="350" height="290" alt="изображение не найдено"></a></p>
                  </div>
                  <br>
                  <ul>
                    <li><strong>Адрес</strong>: {{ d.title }}</li>
                    <li><strong>Цена</strong>: {{ d.price }} €</li>
                    <li><strong>Площадь</strong>: {{ d.m2 }} м²</li>
                    <li><strong>Количество комнат</strong>:
                      {% if d.roomCount %}
                        {{ d.roomCount }}
                      {% else %}
                        данные отсутствуют :(
                      {% endif %}
                    </li>
                    <li><strong>Структура</strong>: {{ d.structureName }}</li>
                  </ul>
                </div>
              </div>
            {% endfor %}

            <div class="wrapper">

              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  {% for k, v in pages.items %}
                    {% if v == request.get_full_path %}
                      <li class="page-item"><a class="page-link active" href="{{ v }}">{{ k }}</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="{{ v }}">{{ k }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section><!-- End Services Section -->
    </main><!-- End #main -->`
  {% endblock content %}



