{% extends "main.html" %}
{% block content %}

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">info@example.com</a>
        <i class="bi bi-phone-fill phone-icon"></i> +1 5589 55488 55
      </div>
      <div class="social-links d-none d-md-block">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="main_old.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="getstarted scrollto" href="/">На главную страницу</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">

          <div class="section-title">
            <h2>Недвижимость</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
          <div>

          </div>
          <div class="row">
            {% for d in data %}
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" >
                <div class="icon-box">
                  <div>
                    <p><a href="/{{d.href}}"><img src="{{ d.images.0.adDetails.700x350_fit_0_webp }}"
                      width="350" height="290" alt="изображение не найдено"></a></p>
                  </div>
                  <br>
                  <ul>
                    <li><strong>Адрес</strong>: {{ d.title }}</li>
                    <li><strong>Цена</strong>: {{ d.price }} €</li>
                    <li><strong>Площадь</strong>: {{ d.m2 }} м²</li>
                    <li><strong>Количество комнат</strong>:
                      {% if d.roomCount %}
                        {{ d.roomCount }}
                      {% else %}
                        данные отсутствуют :(
                      {% endif %}
                    </li>
                    <li><strong>Структура</strong>: {{ d.structureName }}</li>
                  </ul>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <br>
        <br>
<app-ad-search-pagination _ngcontent-serverapp-c185="" _nghost-serverapp-c161="">
  <div _ngcontent-serverapp-c161="" class="flex w-full items-center justify-center ng-star-inserted">
    <div _ngcontent-serverapp-c161="" data-cy="paginationContainer" class="pagination-container"><!----><!----><!----><!----><!---->
<!--      <div _ngcontent-serverapp-c161="" class="active pagination-item"><a href="/ns_houses/1/16">1</a></div>-->
      <a _ngcontent-serverapp-c161="" routerlink="./" queryparamshandling="merge" title="Strana: 1" href="/ns_houses/1/16" class="ng-star-inserted"><strong>1</strong></a><!---->
      <a _ngcontent-serverapp-c161="" routerlink="./" queryparamshandling="merge" title="Strana: 2" href="/ns_houses/16/31" class="ng-star-inserted"><strong>2</strong></a><!---->
      <a _ngcontent-serverapp-c161="" routerlink="./" queryparamshandling="merge" title="Strana: 3" href="/ns_houses/31/46" class="ng-star-inserted"><strong>3</strong></a><!---->
      <a _ngcontent-serverapp-c161="" routerlink="./" queryparamshandling="merge" title="Strana: 4" href="/ns_houses/46/61" class="ng-star-inserted"><strong>4</strong></a><!---->
      <a _ngcontent-serverapp-c161="" routerlink="./" queryparamshandling="merge" title="Strana: 5" href="/ns_houses/61/76" class="ng-star-inserted"><strong>5</strong></a><!---->
      <a _ngcontent-serverapp-c161="" routerlink="./" queryparamshandling="merge" title="Strana: 6" href="/ns_houses/76/91" class="ng-star-inserted"><strong>6</strong></a><!---->
      <a _ngcontent-serverapp-c161="" routerlink="./" queryparamshandling="merge" title="Strana: 7" href="/ns_houses/91/106" class="ng-star-inserted"><strong>7</strong></a><!---->
      <a _ngcontent-serverapp-c161="" routerlink="./" queryparamshandling="merge" title="Strana: 8" href="/ns_houses/106/121" class="ng-star-inserted"><strong>8</strong></a><!---->
      <a _ngcontent-serverapp-c161="" routerlink="./" queryparamshandling="merge" title="Strana: 9" href="/ns_houses/121/136" class="ng-star-inserted"><strong>9</strong></a><!---->
      <a _ngcontent-serverapp-c161="" routerlink="./" queryparamshandling="merge" title="Strana: 10" href="/ns_houses/136/151" class="ng-star-inserted"><strong>10</strong></a><!---->
      <a _ngcontent-serverapp-c161="" routerlink="./" queryparamshandling="merge" title="Strana: 11" href="/ns_houses/151/166" class="ng-star-inserted"><strong>11</strong></a><!---->
      <a _ngcontent-serverapp-c161="" routerlink="./" queryparamshandling="merge" title="Strana: 12" href="/ns_houses/166/181" class="ng-star-inserted"><strong>12</strong></a><!---->
    </div>
  </div><!---->
</app-ad-search-pagination>

      </section><!-- End Services Section -->
    </main><!-- End #main -->`
  {% endblock content %}



